.result
  .edit
      - if (typeof currentUser !== 'undefined')
        p
          a(href="/entries/#{result._id}/edit") Edit
      - else
        p (Login to edit)

  .korean
    h3 
      a(href="/entries/#{result._id}") #{result.korean.word}
      &nbsp;
      #{result.hanja}

  .definitions
    - each defs, lang in result.definitions
      ul
        - each definition, i in defs
          li= definition

