.row
  .span5.column
    - if ((typeof(result.korean.word) == '') || (result.korean.word == ''))
      h2
        a(href="/entries/#{result._id}") (Undefined)
    -else
      h2 
        a(href="/entries/#{result._id}") #{result.korean.word}

    h4= result.hanja

    .edit
      - if (typeof currentUser !== 'undefined')
        p
          a(href="/entries/#{result._id}/edit") Edit
      - else
        p
          small (Login to edit)


  .span11.column
    h2 Definitions
    //- if (results.definitions.length == 0)
    - if (typeof(results.definitions) != 'undefined')
      p No definition,
        a(href="/entries/#{result._id}/edit") add one!
    - else
      - each defs, lang in result.definitions
       ul
         - each definition, i in defs
           li= definition
