h2.fontface= title

p The entire contents of the KDict database are freely available to download. Please use the data in your own projects!

h2 Nightly Dump

p Nightly dumps are made of the database.

h3 Data Format

p KDict uses
  a(href='http://www.mongodb.org/') MongoDB
| for its database storage, and so the data is hierarchical in nature. 

p Below is a sample of a few documents:

pre
| <script src="https://gist.github.com/1170054.js?file=gistfile1.json"></script>

h3 Data

table
  thead
    tr
      td Date
      td Filename
      td Size
    tbody
      - each file in files
        tr
          td= file.date
          td
            a(href="/data/#{file.name}") #{file.name}
          td= file.size

