mixin username_with_score(user)
  span.score (#{user.score}) 
  - if (user.display_name)
    a(href="/users/#{user.username}", class="#{user.level}") #{user.display_name}
  - else
    a(href="/users/#{user.username}", class="#{user.level}") #{user.username}

mixin tag_list(tags)
  - if (tags.length > 0)
    ul.unstyled
      - each tag, i in tags
        li
          a(href='/?tag=#{tag.short}', rel="twipsy", title="#{tag.long}")
            span(class="label #{tag.type}")= tag.short

