// Used for editing and creation
div.clearfix
  label(for='entry[korean]') Korean
  div.input
    input(name='entry[korean]', value=entry.korean.word || '')

div.clearfix
  label(for='entry[hanja]') Hanja
  div.input
    input(name='entry[hanja]', value=entry.hanja || '')

div.clearfix
  label(for='entry[english]') English
  div.input
    input(name='entry[english]', value=entry.definitions.english[0] || '')

div.clearfi
  label(for='entry[example]') Example
  div.input
    textarea(class='disabled', value='Disabled for now')
    span.help-block Please read our guidelines regarding copyright infringement
        

p Internal ID: #{entry._id}
p POS: #{entry.pos}

//p Part of speech:
//  select(name="entry[pos]")
//    option(value="") -- Unknown --
//    option(value="noun") Noun
//    option(value="verb") Verb
//    option(value="adjective") Adjective


h3 Flags
- if (entry.flags.length != 0)
  ul
  - each flag, i in entry.flags
    li= flag
- else
  p (none)

div
  h4 Legacy data
  ul
    li Submitter: #{ entry.old.submitter }
    li WordID: #{ entry.old.wordid }
    li Table: #{ entry.old.table }

