// Used for editing and creation
div.clearfix
  label(for='entry[korean]') Korean
  div.input
    input(name='entry[korean]', value=entry.korean.hangul || '')
    span.help-inline Must be in hangul 한글

// AJAX: Show existing related entries

div.clearfix
  label(for='entry[hanja]') Hanja
  div.input
    input(name='entry[hanja]', value=entry.hanja || '')
    span.help-inline Optional

div.clearfix
  label(for='entry[english]') English
  div.input
    textarea.xxlarge(name='entry[english]', value=entry.definitions.english_all || '')
    span.help-block Must only contain alphabet characters, numbers and punctuation. Separate multiple definitions with colons


//p Part of speech:
// p POS: #{entry.pos}
//  select(name="entry[pos]")
//    option(value="") -- Unknown --
//    option(value="noun") Noun
//    option(value="verb") Verb
//    option(value="adjective") Adjective


- if (create != true)
  h3 Flags
  - if (entry.flags.length != 0)
    ul
    - each flag, i in entry.flags
      li= flag
  - else
    p (none)
  
  div
    h4 Legacy data
    ul
      li Submitter: #{ entry.legacy.submitter }
      li WordID: #{ entry.legacy.wordid }
      li Table: #{ entry.legacy.table }
  
