.page-header
  h1 Search

.row
  .span16
    include ../includes/large-search


.row
  .span16
    h2 Results
      small Showing page #{paginator.page} of #{paginator.total_pages} (#{paginator.range_str} of #{paginator.count} results)
.row
  .span16

    - if (entries.length == 0)
      p No results found
    - else
      table.zebra-striped
        tbody
          - each entry in entries
            tr
              td
                h3
                  a(href='/#{entry.korean.hangul}')= entry.korean.hangul
                - if (entry.tags.length > 0)
                  p
                    img(src='/images/icons/flag_orange.gif')
                    |  x
                    #{entry.tags.length}
              td
                ol
                  - each meaning, i in entry.meanings
                    li
                      - if (meaning.hanja != '')
                        span.hanja (#{meaning.hanja}) 
                      span.english= meaning.definitions.english_all

- if (paginator.total_pages > 1)
  .row
    .span12.offset4
      .pagination
        ul
          li.prev
            a Previous
          //a(href="/?q=#{results.query}") First
          - for (var i = paginator.min_page; i < paginator.max_page; i++)
            li 
              - if (i == paginator.current_page)
                #{i}
              - else
                a(href="/?q=&pg=#{i}")= i
          li.next
            a Next
            //a(href="/?q=#{results.query}&pg=#{results.total_pages}") #{results.total_pages} Last
  
