script
  $('.editable').editableSet({
    action: '/entries/#{entry.id}/update',
    afterSave: function() {
      alert( 'Saved Successfully!' );
    }
  });


.editable
  .page-header
    h1
      span(data-name='entry[korean][hangul]')= entry.korean.hangul
  
  .row
    .span3
      h2 Summary

    .span8
      h6 Meanings
      ol
        - each meaning, i in entry.meanings
          li
            - if (meaning.hanja != '')
              span.hanja (#{meaning.hanja}) 
            span.english= meaning.definitions.english_all


    .span5
      p
        - if (typeof currentUser !== 'undefined')
          a(href='/entries/#{entry._id}/edit') Edit
        - else
          a(href='/login') Login to edit
  
     
      //form( method="get", action="/", class="form-stacked")
        .clearfix
          label(for='search') Search
          .input
            input(type="text", name="q", id="search")
  
        button(type="submit", class="btn primary") Search
  
  
  .row
    .span3
      h3 Examples
  
    .span6
      h6
        a(href="http://tatoeba.org/eng/sentences/search?query=#{entry.korean.hangul}&from=kor") Search for examples on Tatoeba.org
  
  
  
  
  .row
    .span3
      h3 Revisions
      p entry history of changes made
  
    .span13
      != partial('../updates/short', entry.updates)
  
  
  .row
    .span3
      h3 Internal
      p This information is useful for developers

    .span4
      h3 Tags
      - if (entry.tags.length != 0)
        ul.tags
        - each tag, i in entry.tags
          li= tag
      - else
        p (none)
  
    .span9
      - each meaning in entry.meanings
        dl
          dt Internal ID
          dd= meaning._id
        dl
          dt Submitter
          dd= meaning.legacy.submitter
        dl
          dt WordID
          dd= meaning.legacy.wordid
        dl
          dt Table
          dd= meaning.legacy.table
  

