include ../mixins

script
  $('.editable').editableSet({
    action: '/entries/#{entry.id}/update',
    afterSave: function() {
      alert( 'Saved Successfully!' );
    }
  });

.page-header
  h1
    span(data-name='entry[korean][hangul]')= entry.korean.hangul

.row
  .editable
    .span3
      h2 Summary

    .span8
      h6 Meanings
      ol
        - each sense, i in entry.senses
          li
            - if (sense.hanja != '')
              span.hanja (#{sense.hanja}) 
            a(href='\##{i}')
              span.english= sense.definitions.english_all

      h6 Pronunciation
      dl
        dt Hangul
        dd= entry.korean.hangul
      dl
        dt Others
        dd Coming soon

    .span5
      p
        - if (typeof currentUser !== 'undefined')
          a(href='/entries/#{entry._id}/edit') Edit
        - else
          a(href='/login') Login to edit
  
     
      //form( method="get", action="/", class="form-stacked")
        .clearfix
          label(for='search') Search
          .input
            input(type="text", name="q", id="search")
  
        button(type="submit", class="btn primary") Search

.row
  .span4
    h2 Details

- each sense, i in entry.senses
  .row(id="#{i}"
    .span4
      h4 #{entry.korean.hangul}
        sup #{i}

    .span8
      - if (sense.hanja != '')
        span.hanja (#{sense.hanja}) 
      
      ul
        - each word in sense.definitions.english
          li= word

  
.row
  .span3
    h3 Examples

  .span6
    h6
      a(href="http://tatoeba.org/eng/sentences/search?query=#{entry.korean.hangul}&from=kor") Search for examples on Tatoeba.org




.row
  .span3
    h3 Revisions
    p entry history of changes made

  .span13
    ul
    - each update in entry.updates
      li (#{update.created_at}) 
        a(href="/updates/#{update._id}")= update._id

.row
  .span3
    h3 Internal
    p This information is useful for developers

  .span3
    h3 Tags
    mixin tag_list(entry.tags)

.row
  .span9.offset3
    - each sense in entry.senses
      dl
        dt Internal ID
        dd= sense._id
      dl
        dt Submitter
        dd= sense.legacy.submitter
      dl
        dt WordID
        dd= sense.legacy.wordid
      dl
        dt Table
        dd= sense.legacy.table
  

